<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Septet Society | {{error}}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #111827;
        }
    </style>
</head>

<body>
    <section class="bg-white dark:bg-gray-900 ">
        <div class="container flex items-center min-h-screen px-6 py-12 mx-auto">
            <div>
                <p class="text-sm font-medium text-blue-500 dark:text-blue-400">Error!</p>
                <h1 class="mt-3 text-2xl font-semibold text-gray-800 dark:text-white md:text-3xl">X_X</h1>
                <p class="mt-4 text-gray-500 dark:text-gray-400">{{error}}</p>

            </div>
        </div>
        </div>
    </section>
</body>

</html>